html {
  font-size: 24px;
  background-color: #2D3250;
}
body {
  width: 75%;
  margin: auto;
  background-color: #424769;
  border-radius: 20px;
  color: F6B17A;
}

nav {
  margin: auto;
  background-color: #7077A1;
  font-size: 1.5em;
  
}

ul {
  padding: 0;
  text-align: center;
}

li {
  display: inline;
  padding: 10px;
  color: F6B17A;
}
.current {
  background-color: #22092C;
  border-radius: 10px 10px 0 0;

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}
  
}
.navlink {
  color: #F6B17A;;
  text-decoration: none;
  font-variant: all-small-caps;
}

h2 {
  text-align: center;
  color: #F6B17A;
}

h1 {
  text-align: center;
  color: #F6B17A;
}

p
{
  text-align: center;
  color: #F6B17A;
}

a:hover {
    color: #ffcda6;
    text-decoration: underline;
  text-decoration-color: #ffcda6;
  font-weight: bold;
}


a {
  text-decoration: none;
  background-color: transparent;
  color: #F6B17A;
}


